@model HireAProfessional.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}
<h1 class="text-center">@this.ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 media">
        <div class="media-body">
            <h5 class="media-title">Users</h5>
            <p class="media-text">You can block, delete, promote and review users from here.</p>
            <a href="/Administration/Dashboard/Users" class="card-link">Click here</a>
        </div>
    </div>

    <div class="col-md-4 media">
        <div class="media-body">
            <h5 class="media-title">Categories</h5>
            <p class="media-text">You can add, delete, view statistics on categories from here.</p>
            <a href="#" class="card-link">Click here</a>
        </div>
    </div>

    <div class="col-md-4 media">
        <div class="media-body">
            <h5 class="media-title">Posts</h5>
            <p class="media-text">You can remove and view statistics on posts from here.</p>
            <a href="#" class="card-link">Click here</a>
        </div>
    </div>

    <div class="col-md-4 media">
        <div class="media-body">
            <h5 class="media-title">Blogs</h5>
            <p class="media-text">You can remove, add and view statistics on blogs from here.</p>
            <a href="#" class="card-link">Click here</a>
        </div>
    </div>

    <div class="col-md-4 media">
        <div class="media-body">
            <h5 class="media-title">Companies</h5>
            <p class="media-text">You can remove, add, view statistics and recrut from here.</p>
            <a href="#" class="card-link">Click here</a>
        </div>
    </div>

    <div class="col-md-4 media">
        <div class="media-body">
            <h5 class="media-title">Locations</h5>
            <p class="media-text">You can view statistics from here.</p>
            <a href="#" class="card-link">Click here</a>
        </div>
    </div>
</div>