<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Locations</title>
</head>
<body>
    <h3 class="text-xl-center">Locations Dashboard</h3>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Crud Operations</h5>
                    <a href="Locations/CrudOperations" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
