@using HireAProfessional.Web.ViewModels.Posts;
@model PostViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatePost</title>
</head>
<body>
    <div class="unit-5 overlay" style="background-image: url('images/hero_2.jpg');">
        <div class="container text-center">
            <h2 class="mb-0">Full Stack Developer</h2>
            <p class="mb-0 unit-6"><a href="index.html">Home</a> <span class="sep">></span> <span>Job Item</span></p>
        </div>
    </div>

    <div style="margin-top: 100px; margin-left: 200px; width: 100px; float: left;" name="count">
        <button>
            <i class="fas fa-angle-up"></i>
        </button>
        <br>
        <span class="vote">0</span>
        <br>
        <button>
            <i class="fas fa-angle-down"></i>
        </button>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8 mb-5">
                    <div class="p-5 bg-white">
                        <div class="mb-4 mb-md-5 mr-5">
                            <div class="job-post-item-header d-flex align-items-center">
                                <h2 class="mr-3 text-black h4">@this.Model.JobTitle</h2>
                                <div class="badge-wrap">
                                    <span class="border border-warning text-warning py-2 px-4 rounded">Freelance</span>
                                </div>
                            </div>
                            <div class="job-post-item-body d-block d-md-flex">
                                <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">New York Times</a></div>
                                <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
                            </div>
                        </div>

<article>
    @this.Model.Description
</article>

                        <p class="mt-5"><a href="#" class="btn btn-primary py-2 px-4">Apply Job</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        onload = () => {
            var buttons = document.getElementsByTagName("button");
            const form = document.getElementById("f1");
            const wrapper = document.querySelector("#wrapper");
            f1.addEventListener("submit", createPost);
            /*buttons[0].addEventListener("click", upVote.bind(buttons[0]));
            buttons[1].addEventListener("click", downVote.bind(buttons[1]));*/

            let count = 0;

            function upVote() {
                let da = this.parentNode;
                da.getElementsByClassName("vote")[0].innerText = ++da.count;


            }
            function downVote() {
                let da = this.parentNode;
                da.getElementsByClassName("vote")[0].innerText = --da.count;

            }


            function createPost(event) {
                event.preventDefault();
                let data = f1.postText.value;//value in text area
                let post = document.createElement("div");
                post.setAttribute("class", "post");

                let div1 = document.createElement("div");
                let div2 = document.createElement("div");

                div1.setAttribute("class", "box_button");
                //stuff inside of div1
                let bt1 = document.createElement("button");
                let bt2 = document.createElement("button");
                //test
                div1.setAttribute("name", "count");
                div1.count = 0;

                //test end
                let span = document.createElement("span");
                let br1 = document.createElement("br");
                let br2 = document.createElement("br");


                span.setAttribute("class", "vote");
                bt1.innerHTML = '<i class="fas fa-angle-up" >';
                bt2.innerHTML = '<i class="fas fa-angle-down"> ';
                span.innerText = "0";
                div1.appendChild(bt1);
                div1.appendChild(br1);
                div1.appendChild(span);
                div1.appendChild(br2);
                div1.appendChild(bt2);
                //buttons

                bt1.addEventListener("click", upVote.bind(bt1));
                bt2.addEventListener("click", downVote.bind(bt2));

                //#finder start
                data += " ";
                let hashStart = [];
                let hashEnd = [];
                //store the starting index
                for (let i = 0; i < data.length; i++) {
                    if (data[i] == "#")
                        hashStart.push(i);

                }

                for (let i = 0; i < hashStart.length; i++) {
                    for (let j = hashStart[i]; j < data.length; j++) {
                        if (data[j] == " ") {
                            hashEnd.push(j);
                            break;
                        }

                    }
                }
                for (let i = 0; i < hashStart.length; i++) {
                    console.log("Start: " + hashStart[i] + " End: " + hashEnd[i]);
                }
                //the results! temporary solution
                let hash = "";
                for (let i = 0; i < hashStart.length; i++) {
                    hash += "<span class=\"hashtag\">" + data.slice(hashStart[i], hashEnd[i]) + "<span><br>";

                }
                //console.log(data);
                //temp solution
                data += hash;

                //end of hashtag
                let para = document.createElement("p");
                para.innerHTML = data;

                div2.appendChild(para);
                post.appendChild(div1);
                post.appendChild(div2);
                /*/console.log( wrapper.firstChild.nextSibling); wrapper.insertBefore(post,wrapper.firstChild.nextSibling);*/

                wrapper.appendChild(post);


                f1.reset();
            }




        }


    </script>
</body>
</html>