@{
    @using HireAProfessional.Data.Common.Repositories;
    @using HireAProfessional.Data.Models
    @inject IDeletableEntityRepository<Category> categoryRepository

    @using HireAProfessional.Data.Models.Enums;
    <!DOCTYPE html>

    <html>
    <head>
        <link href="~/css/autocomplete.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
        <title>CreatePost</title>
        <script src='https://cdn.tiny.cloud/1/xfxp2oibv5iqrqzkvsyli9eb24kxkr27ornpgv3gvtg91tyw/tinymce/5/tinymce.min.js' referrerpolicy="origin">
        </script>
        <script>
            tinymce.init({
                selector: '#mytextarea'
            });
        </script>
    </head>
    <body>
        <div class="unit-5 overlay" style="background-image: url('images/hero_1.jpg');">
            <div class="container text-center">
                <h2 class="mb-0">Post a Job</h2>
                <p class="mb-0 unit-6"><a href="/">Home</a> <span class="sep">></span> <span>Post a Job</span></p>
            </div>
        </div>

        <div class="site-section bg-light">
            <div class="container">
                <div>
                    <div class="row">
                        <form method="post" asp-action="CreatePost" class="p-5 bg-white col-md-12">
                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Job Title</label>
                                    <input name="jobTitle" type="text" id="fullname" class="form-control" placeholder="eg. Full Stack Frontend">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Category</label>
                                    <select name="categoryName" type="text" id="fullname" class="form-control" placeholder="Category">
                                        @foreach (var category in this.categoryRepository.AllAsNoTracking())
                                        {
                                            <option>@category.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group mb-5">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Company</label>
                                    <input name="companyName" type="text" id="fullname" class="form-control" placeholder="eg. Facebook, Inc.">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12"><h3>Job Type</h3></div>

                                @{
                                    foreach (EmploymentType type in (EmploymentType[])Enum.GetValues(typeof(EmploymentType)))
                                    {
                                        <div class="col-md-12 mb-3 mb-md-0">
                                            <label for="option-job-type-@Convert.ToInt32(type)">
                                                <input type="radio" id="option-job-type-@Convert.ToInt32(type)" name="employmentType"> @type
                                            </label>
                                        </div>
                                    }
                                }

                            </div>
                            <div class="row form-group mb-4">
                                <div class="col-md-12"><h3>Location</h3></div>
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <input onclick="get('myInput')" id="myInput" name="location" type="text" class="form-control" placeholder="New York City">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12"><h3>Job Description</h3></div>
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <textarea id="mytextarea" name="description">
                                      Hello, World!
                                    </textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Post a Job" class="btn btn-primary  py-2 px-5">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


}